/* -- Global Styles -- */
html {
    scroll-padding: 30px;
}

a {
    display: inline-block;
}

/* - Headings -*/
h1 {
    font-size: 52px;
    line-height: 58px;

    /* Mobile */
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 38px;
    }
}

h2 {
    font-size: 42px;
    line-height: 48px; 
    color: var(--color-text-black);

    /* Mobile */
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 38px; 
    }
}

p {
    color: var(--color-text-black);
}

/* - Form -*/
form {
    .form-row {
        display: flex;
        gap: 10px;
        margin-bottom: 14px;
    }

    .form-input {
        width: 100%;
    }

    label {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
    }

    input,
    textarea {
        border: 1px solid var(--color-secondary);
        padding: 8px;
        border-radius: 4px;
        width: 100%;
    }

    textarea {
        resize: none;
    }

    .form-submit-btn {
        border-radius: 16px;
    }
}

/* - WhatsApp Fixed Button -*/
/* WhatsApp Fixed Button */
.whatsapp-float {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    transition: transform 0.3s ease;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);

    &:hover {
        transform: scale(1.05);
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}