/* -- Global Styles -- */
a {
    display: inline-block;
}

/* - Headings -*/
h1 {
    font-size: 52px;
    line-height: 58px;

    /* Mobile */
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 38px;
    }
}

h2 {
    font-size: 42px;
    line-height: 48px; 

    /* Mobile */
    @media (max-width: 768px) {
        font-size: 32px;
        line-height: 38px; 
    }
}

/* - Form -*/
form {
    .form-row {
        display: flex;
        gap: 10px;
        margin-bottom: 14px;
    }

    .form-input {
        width: 100%;
    }

    label {
        display: block;
        font-size: 14px;
        line-height: 16px;
        margin-bottom: 4px;
    }

    input,
    textarea {
        border: 1px solid var(--color-secondary);
        padding: 8px;
        border-radius: 4px;
        width: 100%;
    }

    textarea {
        resize: none;
    }

    .form-submit-btn {
        border-radius: 16px;
    }
}