/* -- Variables -- */
:root {
    --color-white: #FFFFFF;
    --color-black: #000000;

    --color-blue-darker: #0d3f69;
    --color-blue-dark: #1363a2;
    --color-blue: #1475b2;
    --color-dark-gray: #606062;
    --color-light-gray: #e4e6f3;
    --color-text-black: #333333;
}

/* -- Utility Classes -- */
.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
}

/* -- Utility Classes -- */
.btn {
    appearance: none;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    border-radius: 6px;
    padding: 16px 32px;
    cursor: pointer;
    transition: .2s linear;

    &.btn--primary {
        color: var(--color-white);
        background-color: var(--color-blue);
        border: 1px solid var(--color-blue);

        &:hover {
            background-color: var(--color-blue-darker);
            border: 1px solid var(--color-blue-darker);
            transition: .2s linear;
        }
    }

    &.btn--light-gray {
        color: var(--color-text-black);
        background-color: var(--color-light-gray);
        border: 1px solid var(--color-light-gray);

        &:hover {
            background-color: #d9dbe7;
            border: 1px solid #d9dbe7;
            transition: .2s linear;
        }
    }
}