.company-logos {
    background-color: var(--color-light-gray);
    padding-top: 60px;
    padding-bottom: 60px;

    .company-logos__container {

        /* Mobile */
        @media (max-width: 992px) {
            padding: 0;
        }
    }

    .company-logos__title {
        text-align: center;
        margin-bottom: 42px;

        /* Tablet */
        @media (max-width: 992px) {
            padding: 0 20px;
        }
    }

    .swiper-wrapper {
        align-items: center;
    }

    .company-logos__logo-container {
        max-width: 180px;

        img {
            max-width: 100%;
        }
    }
}