.contactanos {
    padding-top: 60px;
    padding-bottom: 60px;

    /* -- Title -- */
    .contactanos__title {
        text-align: center;
        margin-bottom: 42px;
    }

    /* -- Subcontainer -- */
    .contactanos__subcontainer {
        display: flex;
        width: 100%;
        border-radius: 6px;
        padding: 0 120px;

        /* Large Tablet */
        @media (max-width: 1024px) {
            padding: 0 40px;
        }

        /* Mobile */
        @media (max-width: 768px) {
            flex-wrap: wrap;
            padding: 0;
        }
    }

    /* -- Left -- */
    .contactanos__container-left {
        width: 40%;
        background-color: #d9dbe7;
        border-radius: 6px 0 0 6px;
        padding: 32px;

        /* Mobile */
        @media (max-width: 768px) {
            width: 100%;
        }

        h3 {
            margin-bottom: 24px;
        }
    }

    .contactanos__address,
    .contactanos__email,
    .contactanos__phone {
        display: flex;
        gap: 10px;
        align-items: center;
        font-size: 18px;

        img {
            max-width: 42px;
            height: auto;
            object-fit: contain;
        }
    }

    .contactanos__address {
        margin-top: 32px;
    }

    .contactanos__email,
    .contactanos__phone {
        margin-top: 12px;
    }

    .contactanos__cta-subtitle {
        margin-top: 42px;
    }

    /* -- Right (Form) -- */
    .contactanos__container-right {
        width: 60%;
        background-color: var(--color-light-gray);
        border-radius: 0 6px 6px 0;
        padding: 32px;

        /* Mobile */
        @media (max-width: 768px) {
            width: 100%;
        }
    }

    form {
        margin-top: 32px;

        label {
            margin-bottom: 16px;
        }

        input,
        textarea {
            margin-top: 8px;
        }

        textarea {
            min-height: 80px;
        }

        button {
            margin-top: 22px;
        }
    }


    .loader-container {
        display: none;
        position: absolute;
        inset: -8px;
        justify-content: center;
        align-items: center;
        background-color: rgba(black, .3);
        border-radius: 8px;
    }

    .loader {
        border: 8px solid #f3f3f3;
        border-radius: 50%;
        border-top: 8px solid #3498db;
        width: 40px;
        height: 40px;
        animation: spin 2s linear infinite;
    }

    .success-message {
        display: none;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        max-width: 400px;
        height: max-content;
        border-radius: 8px;
        padding: 24px 6px;
        margin: 0 auto;

        p {
            color: black;
            font-weight: 700;
            width: 100%;
            text-align: center;
            margin-top: 12px;
        }
    }
}

/* -- SVG Tick Animation -- */
@supports (animation: grow .5s cubic-bezier(.25, .25, .25, 1) forwards) {
    .contactanos .tick {
        stroke-opacity: 0;
        stroke-dasharray: 29px;
        stroke-dashoffset: 29px;
        animation: draw .5s cubic-bezier(.25, .25, .25, 1) forwards;
        animation-delay: .6s
    }

    .contactanos .circle {
        fill-opacity: 0;
        stroke: #219a00;
        stroke-width: 16px;
        transform-origin: center;
        transform: scale(0);
        animation: grow 1s cubic-bezier(.25, .25, .25, 1.25) forwards;   
    }   
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes grow {
    60% {
        transform: scale(.8);
        stroke-width: 4px;
        fill-opacity: 0;
    }
    100% {
        transform: scale(.9);
        stroke-width: 8px;
        fill-opacity: 1;
        fill: #219a00;
    }
}

@keyframes draw {
    0%, 100% { stroke-opacity: 1; }
    100% { stroke-dashoffset: 0; }
}