.hero {

    .hero__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Left */
    .hero__container-left {
        width: 100%;
        max-width: 520px;
    }

    .hero__subtitle {
        font-weight: 700;
        margin-top: 16px;
    }

    .hero__copy {
        margin-top: 32px;
    }

    .hero__button {
        margin-top: 82px;
    }

    /* Right */
    .hero__container-right {
        width: 100%;
        max-width: 650px;
        height: 650px;
        background-color: gray;
    }
}