.hero {
    padding-top: 80px;

    .hero__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    /* Left */
    .hero__container-left {
        width: 100%;
        max-width: 560px;
        padding-left: 20px;
    }

    .hero__title {
        color: var(--color-blue-darker);
    }

    .hero__subtitle {
        font-size: 20px;
        font-weight: 700;
        margin-top: 16px;
    }

    .hero__copy {
        margin-top: 42px;

        p {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .hero__buttons-container { 
        display: flex;
        gap: 16px;
        margin-top: 82px;
    }

    /* Right */
    .hero__container-right {
        width: 100%;
        max-width: 650px;
        height: 650px;
        background-color: gray;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}