.metrics {
    background-color: var(--color-light-gray);
    padding-top: 42px;
    padding-bottom: 42px;
    
    .metrics__container {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .metrics__metric-container {
        background-color: var(--color-blue-darker);
        width: 100%;
        max-width: 250px;
        border-radius: 6px;
        padding: 42px;
    }

    .metrics__metric-number-container {
        font-size: 52px;
        line-height: 62px;
        color: var(--color-white);
    }

    .metrics__metric-text {
        font-size: 24px;
        color: var(--color-white);
    }
}