.pasos {
    padding-top: 30px;
    padding-bottom: 30px;

    .pasos__title { 
        text-align: center;
        margin-bottom: 42px;
    }

    .pasos__steps-container {
        display: flex;
        justify-content: center;
        gap: 100px;
    }

    .pasos__step-container {
        position: relative;
        width: 100%;
        max-width: 180px;
        cursor: pointer;

        &::after {
            content: url('../../imagenes/icons/arrow-right--black-big.svg');
            position: absolute;
            top: 40%;
            right: -30px;
            transform: translate(100%, -50%);
        }

        &:last-child {
            &::after {
                display: none;
            }
        }

        &:hover {
            .pasos__step-content-back {
                opacity: 1;
                transition: .3s linear;

                &::after {
                    opacity: 1;
                    transform: scaleY(1);
                    transition: .3s linear;
                }
            }
        }
    }

    .pasos__step-content-front {
        position: relative;
    }

    .pasos__step-content-back {
        position: absolute;
        top: 0;
        left: -80px;
        z-index: 2;
        width: calc(100% + 160px);
        height: auto;
        min-height: 100%;
        opacity: 0;
        padding: 32px;
        transition: .3s linear;

        ul,
        p {
            font-size: 14px;
            line-height: 20px;
            color: var(--color-white);
            margin-bottom: 10px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        li {
            margin-bottom: 6px;
        }

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            width: 100%;
            height: 100%;
            transform: scaleY(0);
            background-color: var(--color-blue-darker);
            opacity: 0;
            transition: .3s linear;
        }
    }

    .pasos__step-image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--color-light-gray);
        border-radius: 50%;
        width: 180px;
        height: 180px;

        img {
            max-width: 50%;
            height: auto;
            object-fit: contain;
        }
    }

    .pasos__step-title {
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        margin-top: 12px;
    }

    .pasos__step-copy {
        text-align: center;
        margin-top: 6px;
    }
}