.productos {
    padding-top: 60px;
    padding-bottom: 80px;

    /* -- Title -- */
    .productos__title {
        text-align: center;
        margin-bottom: 52px;
    }

    /* -- Grid -- */
    .productos__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .productos__grid-item {
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        overflow: hidden;
    }

    .productos__grid-item-header {
        position: relative;
        line-height: 0;
        background-color: darkgray;
        height: 300px;

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productos__grid-item-body {
        padding: 24px 16px;
    }

    .productos__grid-item-title {
        font-size: 20px;
    }

    .productos__grid-item-copy {
        margin-top: 12px;
    }

    .productos__grid-item-button {
        display: block;
        text-align: center;
        margin-top: 42px;
    }

    .productos__button {
        display: block;
        width: max-content;
        margin: 40px auto 0;
    }
}