.productos {
    padding-top: 60px;
    padding-bottom: 60px;

    /* -- Title -- */
    .productos__title {
        text-align: center;
        margin-bottom: 52px;
    }

    /* -- Grid -- */
    .productos__grid {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;
    }

    .productos__grid-item {
        border-radius: 6px;
        overflow: hidden;

        &:hover {

            .productos__grid-item-body {
                transform: translateY(0);
                transition: .2s linear;
            }

            .productos__grid-item-button {
                opacity: 1;
                transition: .2s linear;
            }
        }
    }

    .productos__grid-item-header {
        line-height: 0;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productos__grid-item-body {
        background-color: gray;
        transform: translateY(68px);
        padding: 24px 16px;
        transition: .2s linear;
    }

    .productos__grid-item-button {
        opacity: 0;
        margin-top: 16px;
        transition: .2s linear;
    }
}