.productos {
    background-color: var(--color-light-gray);
    padding-top: 60px;
    padding-bottom: 60px;

    /* -- Title -- */
    .productos__title {
        text-align: center;
        margin-bottom: 42px;
    }

    /* -- Grid -- */
    .productos__grid {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }

    .productos__grid-item {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: calc(33% - 16px);
        background-color: var(--color-white);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        overflow: hidden;

        /* Mobile */
        @media (max-width: 768px) {
            max-width: 100%;
        }
    }

    .productos__grid-item-header {
        position: relative;
        line-height: 0;
        background-color: darkgray;
        height: 230px;

        img {
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .productos__grid-item-body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
        padding: 16px;
    }

    .productos__grid-item-title {
        font-size: 22px;
    }

    .productos__grid-item-copy {
        font-size: 16px;
        margin-top: 4px;
    }

    .productos__grid-item-checklist {
        margin-top: 24px;

        li {
            display: flex;
            line-height: 22px;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }
            
            span {
                display: block;
                font-size: 22px;
                color: #155724;
                padding-right: 6px;
            }
        }
    }

    .productos__grid-item-button {
        display: block;
        text-align: center;
        width: 100%;
        padding: 16px 6px;
        margin-top: 32px;

        /* Mobile */
        @media (max-width: 767px) {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}