.quienes-somos-continuacion {
    background-color: var(--color-light-gray);
    padding-top: 60px;
    padding-bottom: 60px;

    /* --- Top --- */
    .quienes-somos-continuacion__top-container {
        display: flex;
        justify-content: space-between;
        gap: 40px;

        & > div {
            width: 100%;

            &:first-child {
                border-right: 1px solid var(--color-blue-darker);
                padding-right: 60px;
            }

            &:last-child {
                padding-left: 60px;
            }

            h2 {
                font-size: 28px;
                line-height: 32px;
                margin-bottom: 32px;
            }

            p {
                margin-bottom: 8px;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }

    .quienes-somos-continuacion__top-container-right {

        & > div {
            display: flex;
            gap: 10px;
            margin-bottom: 12px;
        }

        span {
            display: block;
            font-size: 32px;
            line-height: 38px;
            font-weight: 700;
            color: var(--color-blue-darker);
            min-width: 28px;
        }
    }

    /* --- Bottom --- */
    .quienes-somos-continuacion__bottom-container {
        margin-top: 82px;

        p {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            margin-bottom: 6px;

            &:last-child {
                font-size: 24px;
                line-height: 30px;
                font-weight: 700;
                color: var(--color-blue-darker);
                margin-top: 12px;
                margin-bottom: 0;
            }
        }
    }
}