.testimonials {
    background-color: var(--color-light-gray);
    padding-top: 80px;
    padding-bottom: 80px;

    /* -- Title -- */
    .testimonials__title {
        text-align: center;
        margin-bottom: 42px;
    }

    /* -- Slider -- */
    .testimonials__testimonials-container {
        padding-bottom: 40px;

        .swiper-pagination {
            bottom: 0;

            .swiper-pagination-bullet {
                width: 12px;
                height: 12px;
            }
        }
    }

    .testimonials__testimonial-subcontainer {
        color: var(--color-white);
        background-color: black;
        border-radius: 6px;
        max-width: 600px;
        padding: 32px;
        margin: 0 auto;
    }

    .testimonials__testimonial-quote {
        font-size: 24px;
    }
    
    .testimonials__testimonial-footer {
        display: flex;
        align-items: center;
        gap: 12px;
        margin-top: 24px;
    }

    .testimonials__testimonial-author-image-container {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: var(--color-white);
    }
}