.why-us {
    padding-top: 60px;
    padding-bottom: 60px;

    .why-us__title {
        text-align: center;
        margin-bottom: 42px;

        /* Mobile */
        @media (max-width: 767px) {
            margin-bottom: 32px;
        }
    }

    .why-us__reasons-container {
        padding: 0 60px;
        display: flex;
        justify-content: center;
        gap: 40px;

        /* Large Tablet */
        @media (max-width: 1024px) {
            gap: 30px;
            padding: 0;
        }

        /* Mobile */
        @media (max-width: 768px) {
            flex-wrap: wrap;
        }
    }

    .why-us__reason {
        flex: 1;
        min-width: 0;
        background-color: var(--color-light-gray);
        padding: 24px;

        /* Mobile */
        @media (max-width: 768px) {
            flex: initial;
        }
    }

    .why-us__reason-icon {
        max-width: 80px;
    }

    .why-us__reason-title {
        font-size: 22px;
        font-weight: 700;
        margin: 24px 0 12px;
    }

    .why-us__reason-copy {
        line-height: 24px;
    }

    .why-us__reason-benefit {
        font-style: italic;
        margin-top: 8px;
    }
}