.footer {
    color: var(--color-white);
    background-color: var(--color-blue-darker);
    padding-top: 20px;
    padding-bottom: 20px;

    .footer__container {
        display: flex;
        justify-content: space-between;
    }
}