.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    color: white;
    background-color: var(--color-blue-darker);
    padding-top: 20px;
    padding-bottom: 20px;
    transition: .2s linear;

    &.scrolled {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
        padding-top: 10px;
        padding-bottom: 10px;
        transition: .2s linear;
    }

    .header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header__nav {
        ul {
            display: flex;
            align-items: center;
            gap: 20px;

            a {
                position: relative;

                &::after {
                    bottom: -4px;
                    content: '';
                    display: block;
                    height: 2px;
                    left: 0;
                    position: absolute;
                    background: var(--color-white);
                    opacity: 0.6;
                    transition: width 0.4s ease, opacity 0.4s ease 0s;
                    width: 0;
                }

                &:hover {

                    &::after {
                        width: 100%;
                        opacity: 1;
                    }
                }
            }

            .btn {
                padding: 10px 16px;

                &::after {
                    display: none;
                }
            }
        }
    }

    /* -- Hamburger Menu -- */
    .header__nav-container-mobile {
        display: none;
        position: relative;
        z-index: 1;
    
        /* Mobile */
        @media (max-width: 767px) {
            display: block;
        }
    
        .header__hamburger-menu-container {
            width: 50px;
            height: 50px;
            padding: 12px 8px;
            cursor: pointer;
    
            span {
                display: block;
                width: 34px;
                height: 4px;
                margin-bottom: 5px;
                position: relative;
    
                background: white;
                border-radius: 3px;
                transform: rotate(0);
                z-index: 1;
    
                transition: .5s cubic-bezier(0.77, 0.2, 0.05, 1.0);

                &:nth-child(3) {
                    margin-bottom: 0;
                }
            }
    
            &.active {

                span {
                    background: black;
                    margin-bottom: 0;

                    &:first-child {
                        transform: rotate(45deg) translate(8%, 0);
                    }
    
                    &:nth-child(2) {
                        transform: rotate(-45deg) translate(8%, 0);
                    }
    
                    &:nth-child(3) {
                        opacity: 0;
                        transform: rotate(0deg) scale(0.2, 0.2);
                    }
                }
            }
        }
    
        ul {
            position: absolute;
            top: -26px;
            right: -25px;
            width: calc(100vw + 10px);
            height: calc(100vh + 10px);
            padding: 125px 50px 50px;
            background: #ededed;
            list-style-type: none;
            -webkit-font-smoothing: antialiased; /* To stop flickering of text in safari */
            transform: translate(100%, 0);
            transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    
            &.active {
                transform: translate(0, 0);
            }
    
            li {
                padding: 20px 0;

                a {
                    font-size: 26px;
                    line-height: 30px;
                    font-weight: 700;
                    color: var(--color-secondary);
                }
            }
        }
    }
}